.card-product {
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 16px 36px rgba(0,0,0,0.2);
}

.card-product-image {
  width: 50%;
  background-size: cover;
  position: relative;

}

.card-product-info {
  padding: 0 16px;
}

.card-product-top {
  display: flex;
  justify-content: space-between;
}

.card-product-middle {
  height: 100px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin: 16px 0;
}

.card-product-bottom {
  display: flex;
  justify-content: space-between;
}

.img-small {
  height: 100px;
  flex-basis: 32%;
}

.position-icon {
  color: red;
  font-size: 30px;
  position: absolute;
  top: -20px;
  left: -15px;
}












